body {
    background-color: #fee9bc;
    background-image: url("/static/img/background.png");
    background-size: 100vw 100vh;
}

.body-container {
    margin: 20px;
}

.collapse.in { /*for some reason navbar breaks without this*/
    display: block;
}

.navby {
    background-color: #850101;
    margin: 10px;
}

.btn {
    background-color: #850101;
    color: #fee9bc;
}
