body {
    background-image: url("/static/img/background.png");
    background-size: 100vw 100vh;
    color: #ffc9db;
    font-size: 125%;
    font-weight: bold;
    font-family: 'Roboto';
    text-align: center;
}

h1{
    font-weight: bold;
    font-size: 300%;
}
.body-container {
    margin-left: 15px;
    margin-right: 15px;
}

.page-header {
    height: 8vh;
    min-height: 80px;
    background-color: #a34653;
    color: #ffc9db;
    margin: 15px;
    margin-bottom: 0px;
}

.page-header h1 {
    font-size: max(60px, 6vh);
}

.page-header a {
    color: #ffc9db;
}

.btn {
    //color: #fee9bc;
    background-color: #a34653;
    //background-color: #bc6974;
    color: #ffc9db;
}

input{
    background-color: #ffe0ea;
    color: #a03859;
    font-weight:bold;
}

.backing {
    background-color: rgba(255, 255, 255, .1);
}
