body {
    background-image: url("/static/img/background.png");
    background-size: 100vw 100vh;
    color: #ffc9db;
    font-size: 125%;
    font-weight: bold;
    font-family: 'Roboto';
}

h1{
    font-weight:bold;
    font-size: 300%;
}
.body-container {
    margin: 20px;
}

.collapse.in { /*for some reason navbar breaks without this*/
    display: block;
}

.navby {
    background-color: #a34653;
    margin: 10px;
    color: #ffc9db;
}

.btn {
    //color: #fee9bc;
    background-color: #a34653;
    //background-color: #bc6974;
    color: #ffc9db;
}

input{
    background-color: #ffe0ea;
    color: #a03859;
    font-weight:bold;
}
