#tapper {
    width: 70vw;
    min-width: 600px;
    height: 15vh;
    background-color: #a34653;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#tapper:active {
    background-color: #992333;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.answer-choice {
    width: 70vw;
    min-width: 600px;
    height: 7vh;
    font-size: 32px;
    margin: 1px;
}

#songname, #picked {
    width: 70vw;
    min-width: 600px;
    height: 7vh;
    font-size: 32px;
    margin: 1px;
}

#leave {
    font-size: 32px;
}
