input {
    width: 60vw;
    min-width: 610px;
    height: 10vh;
    font-size: 8vh;
    text-align: center;
}

.backing {
    rgba(255, 255, 255, .1);
    padding: 15px;
    width: 62vw;
    min-width: 640px;
}
