<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css' ) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/tapout.png' ) }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
  </head>

  <body>
    <div class="page-header rounded">
      <a id="headtext" href="/"> <h1>Tapout!</h1> </a>
    </div>
    <br />
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <center><h2>{{ message }}</h2></center>
    {% endfor %}
    {% endwith %}
    <div class="body-container">
      {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/firebase-app.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/firebase-database.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/firebase-auth.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAkxwgAp-nCCb9LOxKzQSro3rH0YlRLAbs",
        authDomain: "tapout-78e51.firebaseapp.com",
        databaseURL: "https://tapout-78e51.firebaseio.com",
        projectId: "tapout-78e51",
        storageBucket: "tapout-78e51.appspot.com",
        messagingSenderId: "811701556714"
      };
      firebase.initializeApp(config);
      var db = firebase.database();
    </script>

    {% block js %}
    {% endblock %}
  </body>
</html>
