{% extends "base.html" %}
{% block title %}Tapout!{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css' ) }}">{% endblock %}

{% block body %}
<center>
  <div class="backing rounded">
    <h1>Welcome to Tapout!</h1> <br />
    <input type="text" id="namebar" placeholder="Your Name" name="username" class="rounded" required> <br />
    <input type="text" id="codebar" placeholder="Room Code" name="roomcode" class="rounded" required> <br />
    <input id="joinbutton" type="submit" name="submit" value="Join a Room!" class="btn" style="font-size: 36px"> <br /> <br />

    <p style="font-size:36px"> Or... </p>

    <br />

    <input type="text" id="namebar-create" placeholder="Your Name" name="username" class="rounded" required> <br />
    <input id="createbutton" type="submit" name="submit" value="Create a Room!" class="btn" style="font-size: 36px">
  <br />
  </div>
</center>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js' ) }}"></script>
{% endblock %}
