<!DOCTYPE html>
<html>
  <head>
    <title>Tapout!</title>
  </head>
  <body>
    <h1>Welcome to Tapout!</h1>
      Name: <input type="text" id="namebar" placeholder="Name" name="username" required><br><br>
      <input type="text" id="codebar" placeholder="Room Code" name="roomcode">
      <input id="joinbutton" type="submit" name="submit" value="Join a Room!"><br><br>
      Or... create a room! <input id="createbutton" type="submit" name="submit" value="Create a Room!">
      <br>
  </body>
</html>
