{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css' ) }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lobby.css' ) }}">
{% endblock %}

{% block title %}Tapout!{% endblock %}

{% block body %}
<div id="content" class="backing">
  <h1>Welcome to Tapout!</h1>
  <h2 id="codeh1">Room Code:</h2>

  <div id="userbox">

  </div>
  <br>
  <button id="leave" class="btn">Leave Room</button>
  <br><br>
  <button id="start" class="btn">Start!</button>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js' ) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/room.js' ) }}"></script>
{% endblock %}
