{% extends "base.html" %}
{% block title %}Tapout!{% endblock %}

{% block body %}
<div id="content">
  <h1>Welcome to Tapout!</h1>
  <h1 id="codeh1">Room Code:</h1>

  <div id="userbox">

  </div>
  <button id="leave">Leave Room</button>
  <br>
  <button id="start">Start!</button>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js' ) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/room.js' ) }}"></script>
{% endblock %}
